---
pageTitle: How it works
imgHowItWorks1: /static/img/how-it-works/img-intro1.png
imgHowItWorks2: /static/img/how-it-works/img-intro2.png
---

<header class="header m--tilt">How it works</header>

<div class="section">
  <img class="img m--intro1" src="$imgHowItWorks1$">
  <div class="arrow m--1-2"></div>
  <div class="intro-caption">
    <p class="intro m--1-2">Every patron matches every other.<br/>
    Projects receive their donations monthly.</p>
    <p class="intro m--2-2">As a patron you set your monthly limit.<br/>
    Never will you pay more than that amount.</p>
  </div>
  <div class="arrow m--2-2"></div>
  <img class="img m--intro2" src="$imgHowItWorks2$">

  $if(loggedIn)$
    <div class="signup m--logged-in">
      <a class="more-info" href="https://wiki.snowdrift.coop/about">
        learn more
      </a>
    </div>
  $else$
    <div class="signup">
      <a class="button" href="">Sign Up</a>
      <a class="more-info" href="https://wiki.snowdrift.coop/about">
        learn more
      </a>
    </div>
  $endif$
</div>
