---
pageTitle: Projects
projectLogo: /static/img/projects/snowdrift-logo.png
projectTitle: Snowdrift.coop
projectByline: Crowdmatching for public goods
---

<header class="header m--tilt">Projects</header>

<div class="section">
  <p class="intro">
    As soon as possible, more projects will be listed here that you can support
    via Snowdrift.coop. After all, that's the whole point of Snowdrift.coop!
    For now, pledging to support Snowdrift.coop itself is a great way for you
    to help us get to that point.
  </p>

  <div class="list-gradient"></div>
  <ol class="projects-list">
    <li class="item">
      <div class="project m--live">
        <a class="link" href="">
          <img class="logo" src="$projectLogo$" />
          <div class="title">$projectTitle$</div>
          <div class="desc">$projectByline$</div>
        </a>
      </div>
    </li>
    <li class="item">
      <div class="project m--coming">
        <div class="desc">
          … more coming soon
        </div>
      </div>
    </li>
    <li class="item">
      <div class="project m--coming">
        <div class="desc">
          … no really, this is not just about us
        </div>
      </div>
    </li>
  </ol>

  $if(loggedIn)$
  $else$
    <div class="signup">
      <div class="me"></div>
      <a class="button" href="">Sign Up</a>
      <a class="more-info">how it works</a>
    </div>
  $endif$
</div>
