<footer class="footer">
  <a class="link m--div m--logo" href="https://snowdrift.coop/">
    <div class="logo"></div>
  </a>

  <!-- Begin footer nav -->
  <div class="nav">
    <ul class="menu m--1-2">
      <li class="item">
        <a class="link" href="">How it works</a>
      </li>
      <li class="item">
        <a class="link" href="">Donate</a>
      </li>
      <li class="item">
        <a class="link" href="">About</a>
      </li>
      <li class="item">
        <a class="link" href="">Our Sponsors</a>
      </li>
      <li class="item">
        <a class="link" href="">Our Partners</a>
      </li>
    </ul>
    <ul class="menu m--2-2">
      <li class="item">
        <a class="link" href="">Privacy Policy</a>
      </li>
      <li class="item">
        <a class="link" href="">Terms Of Use</a>
      </li>
    </ul>
    <p class="licenses">
      Aside from <a class="link" href="">trademarks</a>, writings and
      images here are free to use and share under <a class="link"
      rel="license" title="Creative Commons Attribution Share-Alike 4.0
      International"
      href="https://creativecommons.org/licenses/by-sa/4.0">CC&nbsp;BY-SA</a>.
      This site's <a class="link"
      href="https://git.snowdrift.coop/sd/snowdrift">source code</a> is free
      under the terms of the <a class="link" rel="license" title="GNU
      Affero GPL v3 or later"
      href="https://www.gnu.org/licenses/agpl">GNU&nbsp;AGPLv3+</a>.
    </p>
  </div>
  <!-- End footer nav -->

  <!-- Begin partners -->
  <div class="partners-header">
    we are proud <a class="link"
    href="https://wiki.snowdrift.coop/community/partners"> partners</a> of:
  </div>
  <div class="partners">
    <div class="row m--1-2">
      <a class="link m--div m--osi" href="https://opensource.org/">
        <div class="osi"></div>
      </a>
      <a class="link m--div m--qco" href="http://questioncopyright.org/">
        <div class="qco"></div>
      </a>
    </div>
    <div class="row m--2-2">
      <a class="link m--div m--oin" href="https://www.openinventionnetwork.com/">
        <div class="oin"></div>
      </a>
      <a class="link m--div m--cfi" href="http://copyfree.org/">
        <div class="cfi"></div>
      </a>
    </div>
  </div>
  <!-- End partners -->
</footer>
