<!-- Begin navbar L1 -->
<nav class="navbar">
  <a class="link m--div m--logo" href="https://snowdrift.coop">
    <div class="logo"></div>
  </a>

  <!-- Begin L2 menu -->
  <input class="nav-menu-toggle" type="checkbox" />
  <div class="nav-menu-label">Menu</div>
  <div class="nav-menu">
    <a class="item m--left" href="">Home</a>
    <a class="item" href="">How it works</a>
    <a class="item m--left" href="">Projects</a>

    <!-- Begin L3 about menu -->
    <input class="nav-about-toggle" type="radio" name="navbar-menu" />
    <div class="nav-about-label">
      About
      <div class="arrow"></div>
    </div>
    <div class="nav-about">
      <a class="item" href="">Team</a>
      <a class="item" href="">Contact</a>
      <a class="item" href="">Community</a>
    </div>
    <!-- End L3 about menu -->

  $if(maybeUser)$
    <!-- Begin L3 user menu -->
    <input class="nav-user-toggle" type="radio" name="navbar-menu" />
    <div class="nav-user-label">
      Jane Doe
      <div class="arrow"></div>
    </div>
    <div class="nav-user">
      <a class="item" href="">Now</a>
      <a class="item" href="">History</a>
      <a class="item" href="">Settings</a>
      <a class="item m--last" href="">Sign out</a>
    </div>
    <!-- End L3 user menu -->
  $else$
    <a class="item m--last" href="">Sign in</a>
  $endif$
  </div>
  <!-- End L2 menu -->
</nav>
<!-- End navbar L1 -->
