/* @font-face */
@font-face {
  font-family: "Nunito";
  font-weight: 300;
  font-style: normal;
  src: url("./static/fonts/nunito/nunito-light.woff2") format("woff2"), url("./static/fonts/nunito/nunito-light.woff") format("woff"); }

@font-face {
  font-family: "Nunito";
  font-weight: 300;
  font-style: italic;
  src: url("./static/fonts/nunito/nunito-lightitalic.woff2") format("woff2"), url("./static/fonts/nunito/nunito-lightitalic.woff") format("woff"); }

@font-face {
  font-family: "Nunito";
  font-weight: 400;
  font-style: normal;
  src: url("./static/fonts/nunito/nunito-regular.woff2") format("woff2"), url("./static/fonts/nunito/nunito-regular.woff") format("woff"); }

@font-face {
  font-family: "Nunito";
  font-weight: 400;
  font-style: italic;
  src: url("./static/fonts/nunito/nunito-italic.woff2") format("woff2"), url("./static/fonts/nunito/nunito-italic.woff") format("woff"); }

@font-face {
  font-family: "Nunito";
  font-weight: 700;
  font-style: normal;
  src: url("./static/fonts/nunito/nunito-bold.woff2") format("woff2"), url("./static/fonts/nunito/nunito-bold.woff") format("woff"); }

@font-face {
  font-family: "Nunito";
  font-weight: 700;
  font-style: italic;
  src: url("./static/fonts/nunito/nunito-bold.woff2") format("woff2"), url("./static/fonts/nunito/nunito-bolditalic.woff") format("woff"); }

@font-face {
  font-family: "Nunito";
  font-weight: 800;
  font-style: normal;
  src: url("./static/fonts/nunito/nunito-extrabold.woff2") format("woff2"), url("./static/fonts/nunito/nunito-extrabold.woff") format("woff"); }

/* Global selector: zero-margin/padding border-box preset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Font scaling */
@media (max-width: 389px) {
  /* html: 1rem = 8px */
  html {
    font-size: 50%; } }

@media (min-width: 390px) and (max-width: 749px) {
  /* html: 1rem = 10px */
  html {
    font-size: 62.5%; } }

@media (min-width: 750px) {
  html {
    font-size: 62.5%; } }

/* Links nesting div elements to inherit the correct height */
.m--div {
  display: block; }

.navbar {
  background: #ffffff;
  box-shadow: 0 0 1.5rem 0.1rem rgba(9, 98, 142, 0.4);
  width: 100%;
  height: 6rem;
  position: absolute;
  z-index: 10; }

.navbar .logo {
  background: url("./static/img/main/navbar-logo.png") center/contain no-repeat;
  width: 3.8rem;
  height: 4rem;
  margin: auto; }

/* xs and s share the same layout */
@media (max-width: 389px) {
  /* Level 1 menu */
  .navbar {
    display: flex;
    align-items: center; }
  .navbar .link.m--logo {
    flex: 1 1 50%; }
  /* Level 2 menu */
  .nav-menu {
    list-style: none;
    background: #09628e;
    display: none;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 6rem;
    left: 0;
    flex-wrap: wrap;
    /* Menu icon, menu toggled */ }
  .nav-menu-toggle:checked + .nav-menu-label:before {
    background: url("./static/img/main/navbar-menu-close.png") center/contain no-repeat;
    width: 1.3rem;
    height: 1.3rem;
    top: -0.2rem; }
  /* Checkbox input element used as menu toggle.  It is positioned over
        the menu label with 0 opacity to receive checked input to trigger
        menu display, while keeping label text visible. */
  .nav-menu-toggle {
    width: 50%;
    height: 6rem;
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 0; }
  /* Show level 2 menu when menu toggle is checked */
  .nav-menu-toggle:checked + .nav-menu-label + .nav-menu {
    display: flex; }
  /* Menu toggle label */
  .nav-menu-label {
    font: 700 2.1rem Nunito;
    color: #13628e;
    text-align: center;
    text-decoration: none;
    margin: auto;
    flex: 1 1 50%; }
  /* Menu label icon */
  .nav-menu-label:before {
    background: url("./static/img/main/navbar-menu-open.png") center/contain no-repeat;
    width: 1.7rem;
    height: 1.5rem;
    content: " ";
    margin: 0 0.6rem 0 0;
    display: inline-block; }
  /* Menu items in two columns */
  .nav-menu .item {
    color: #ffffff;
    font: 700 2.1rem/1 Nunito;
    text-align: center;
    text-decoration: none;
    text-shadow: 0.3rem 0.3rem #13628e;
    border-bottom: 0.1rem solid rgba(197, 241, 253, 0.2);
    width: 50%;
    height: 6rem;
    padding: 1.8rem 0;
    flex: 1 1 50%;
    /* Left column of items has right edge border */
    /* Last menu item has drop shadow and different width */
    /* Server-side hook for active link state */ }
    .nav-menu .item.m--left {
      border-right: 0.1rem solid rgba(197, 241, 253, 0.2); }
    .nav-menu .item.m--last {
      color: #ffffff;
      font: 700 2.1rem/1 Nunito;
      text-align: center;
      text-decoration: none;
      text-shadow: 0.3rem 0.3rem #13628e;
      border-bottom: 0.1rem solid rgba(197, 241, 253, 0.2);
      width: 50%;
      height: 6rem;
      padding: 1.8rem 0;
      box-shadow: 0 0.6rem 0.6rem 0.1rem rgba(9, 98, 142, 0.4);
      flex: 1 1 100%; }
    .nav-menu .item.m--active {
      background: rgba(255, 255, 255, 0.3); }
  /* Level 3 menus */
  .nav-about {
    display: none;
    width: 100%;
    flex-wrap: wrap;
    /* Arrow below the label */
    /* Set toggle over the label */
    /* Display menu items when toggle input is checked */
    /* Toggle is the same size as other level 2 items */ }
    .nav-about-label, .nav-about .item {
      color: #ffffff;
      font: 700 2.1rem/1 Nunito;
      text-align: center;
      text-decoration: none;
      text-shadow: 0.3rem 0.3rem #13628e;
      border-bottom: 0.1rem solid rgba(197, 241, 253, 0.2);
      width: 50%;
      height: 6rem;
      padding: 1.8rem 0; }
    .nav-about-toggle:checked + .nav-about-label .arrow {
      background: url("./static/img/main/navbar-menu-arrow.png") center/contain no-repeat;
      width: 2.3rem;
      height: 1.2rem;
      content: " ";
      margin: auto;
      position: relative;
      top: 1.8rem; }
    .nav-about-toggle {
      height: 6rem;
      position: absolute;
      opacity: 0; }
    .nav-about-toggle:checked + .nav-about-label + .nav-about {
      display: flex; }
    .nav-about .item {
      background: rgba(255, 255, 255, 0.15);
      border-bottom: 0.1rem solid #09628e;
      flex: 1 1 100%; }
    .nav-about .m--active {
      background: rgba(255, 255, 255, 0.3);
      border-bottom: 0.2 solid #09628e; }
    .nav-about-toggle {
      width: 50%;
      top: 6rem;
      left: 50%; }
  .nav-user {
    display: none;
    width: 100%;
    flex-wrap: wrap;
    /* Arrow below the label */
    /* Set toggle over the label */
    /* Display menu items when toggle input is checked */
    /* Username label */
    /* User icon next to label */
    /* Set absolute toggle position in relation to the bottom
            of the navbar menu. */
    /* When toggle is triggered, re-position it further up the revealed
            menu so it stays over the label. The offset is (navbar menu item
            height) * (no. of user item rows). In multiples of the vertical
            rhythm value, this would be 2 * 4 = 8. */
    /* When toggle is triggered, remove drop shadow from the label, as it
            is no longer the last item on the navbar menu. */ }
    .nav-user-label, .nav-user .item {
      color: #ffffff;
      font: 700 2.1rem/1 Nunito;
      text-align: center;
      text-decoration: none;
      text-shadow: 0.3rem 0.3rem #13628e;
      border-bottom: 0.1rem solid rgba(197, 241, 253, 0.2);
      width: 50%;
      height: 6rem;
      padding: 1.8rem 0; }
    .nav-user-toggle:checked + .nav-user-label .arrow {
      background: url("./static/img/main/navbar-menu-arrow.png") center/contain no-repeat;
      width: 2.3rem;
      height: 1.2rem;
      content: " ";
      margin: auto;
      position: relative;
      top: 1.8rem; }
    .nav-user-toggle {
      height: 6rem;
      position: absolute;
      opacity: 0; }
    .nav-user-toggle:checked + .nav-user-label + .nav-user {
      display: flex; }
    .nav-user .item {
      background: rgba(255, 255, 255, 0.15);
      border-bottom: 0.1rem solid #09628e;
      flex: 1 1 100%; }
    .nav-user .m--active {
      background: rgba(255, 255, 255, 0.3);
      border-bottom: 0.2 solid #09628e; }
    .nav-user-label {
      box-shadow: 0 0.6rem 0.6rem 0.1rem rgba(9, 98, 142, 0.4);
      width: 100%; }
    .nav-user-label:before {
      background: url("./static/img/main/navbar-menu-user.png") center/contain no-repeat;
      width: 1.3rem;
      height: 1.4rem;
      content: " ";
      position: relative;
      margin: 0 0.6rem 0 0;
      display: inline-block; }
    .nav-user-toggle {
      width: 100%;
      bottom: 0;
      left: 0; }
    .nav-user-toggle:checked {
      height: 24rem; }
    .nav-user-toggle:checked + .nav-user-label {
      box-shadow: unset; }
    .nav-user .item.m--last {
      box-shadow: 0 0.6rem 0.6rem 0.1rem rgba(9, 98, 142, 0.4); } }

@media (min-width: 390px) and (max-width: 749px) {
  /* Level 1 menu */
  .navbar {
    display: flex;
    align-items: center; }
  .navbar .link.m--logo {
    flex: 1 1 50%; }
  /* Level 2 menu */
  .nav-menu {
    list-style: none;
    background: #09628e;
    display: none;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 6rem;
    left: 0;
    flex-wrap: wrap;
    /* Menu icon, menu toggled */ }
  .nav-menu-toggle:checked + .nav-menu-label:before {
    background: url("./static/img/main/navbar-menu-close.png") center/contain no-repeat;
    width: 1.3rem;
    height: 1.3rem;
    top: -0.2rem; }
  /* Checkbox input element used as menu toggle.  It is positioned over
        the menu label with 0 opacity to receive checked input to trigger
        menu display, while keeping label text visible. */
  .nav-menu-toggle {
    width: 50%;
    height: 6rem;
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 0; }
  /* Show level 2 menu when menu toggle is checked */
  .nav-menu-toggle:checked + .nav-menu-label + .nav-menu {
    display: flex; }
  /* Menu toggle label */
  .nav-menu-label {
    font: 700 2.1rem Nunito;
    color: #13628e;
    text-align: center;
    text-decoration: none;
    margin: auto;
    flex: 1 1 50%; }
  /* Menu label icon */
  .nav-menu-label:before {
    background: url("./static/img/main/navbar-menu-open.png") center/contain no-repeat;
    width: 1.7rem;
    height: 1.5rem;
    content: " ";
    margin: 0 0.6rem 0 0;
    display: inline-block; }
  /* Menu items in two columns */
  .nav-menu .item {
    color: #ffffff;
    font: 700 2.1rem/1 Nunito;
    text-align: center;
    text-decoration: none;
    text-shadow: 0.3rem 0.3rem #13628e;
    border-bottom: 0.1rem solid rgba(197, 241, 253, 0.2);
    width: 50%;
    height: 6rem;
    padding: 1.8rem 0;
    flex: 1 1 50%;
    /* Left column of items has right edge border */
    /* Last menu item has drop shadow and different width */
    /* Server-side hook for active link state */ }
    .nav-menu .item.m--left {
      border-right: 0.1rem solid rgba(197, 241, 253, 0.2); }
    .nav-menu .item.m--last {
      color: #ffffff;
      font: 700 2.1rem/1 Nunito;
      text-align: center;
      text-decoration: none;
      text-shadow: 0.3rem 0.3rem #13628e;
      border-bottom: 0.1rem solid rgba(197, 241, 253, 0.2);
      width: 50%;
      height: 6rem;
      padding: 1.8rem 0;
      box-shadow: 0 0.6rem 0.6rem 0.1rem rgba(9, 98, 142, 0.4);
      flex: 1 1 100%; }
    .nav-menu .item.m--active {
      background: rgba(255, 255, 255, 0.3); }
  /* Level 3 menus */
  .nav-about {
    display: none;
    width: 100%;
    flex-wrap: wrap;
    /* Arrow below the label */
    /* Set toggle over the label */
    /* Display menu items when toggle input is checked */
    /* Toggle is the same size as other level 2 items */ }
    .nav-about-label, .nav-about .item {
      color: #ffffff;
      font: 700 2.1rem/1 Nunito;
      text-align: center;
      text-decoration: none;
      text-shadow: 0.3rem 0.3rem #13628e;
      border-bottom: 0.1rem solid rgba(197, 241, 253, 0.2);
      width: 50%;
      height: 6rem;
      padding: 1.8rem 0; }
    .nav-about-toggle:checked + .nav-about-label .arrow {
      background: url("./static/img/main/navbar-menu-arrow.png") center/contain no-repeat;
      width: 2.3rem;
      height: 1.2rem;
      content: " ";
      margin: auto;
      position: relative;
      top: 1.8rem; }
    .nav-about-toggle {
      height: 6rem;
      position: absolute;
      opacity: 0; }
    .nav-about-toggle:checked + .nav-about-label + .nav-about {
      display: flex; }
    .nav-about .item {
      background: rgba(255, 255, 255, 0.15);
      border-bottom: 0.1rem solid #09628e;
      flex: 1 1 100%; }
    .nav-about .m--active {
      background: rgba(255, 255, 255, 0.3);
      border-bottom: 0.2 solid #09628e; }
    .nav-about-toggle {
      width: 50%;
      top: 6rem;
      left: 50%; }
  .nav-user {
    display: none;
    width: 100%;
    flex-wrap: wrap;
    /* Arrow below the label */
    /* Set toggle over the label */
    /* Display menu items when toggle input is checked */
    /* Username label */
    /* User icon next to label */
    /* Set absolute toggle position in relation to the bottom
            of the navbar menu. */
    /* When toggle is triggered, re-position it further up the revealed
            menu so it stays over the label. The offset is (navbar menu item
            height) * (no. of user item rows). In multiples of the vertical
            rhythm value, this would be 2 * 4 = 8. */
    /* When toggle is triggered, remove drop shadow from the label, as it
            is no longer the last item on the navbar menu. */ }
    .nav-user-label, .nav-user .item {
      color: #ffffff;
      font: 700 2.1rem/1 Nunito;
      text-align: center;
      text-decoration: none;
      text-shadow: 0.3rem 0.3rem #13628e;
      border-bottom: 0.1rem solid rgba(197, 241, 253, 0.2);
      width: 50%;
      height: 6rem;
      padding: 1.8rem 0; }
    .nav-user-toggle:checked + .nav-user-label .arrow {
      background: url("./static/img/main/navbar-menu-arrow.png") center/contain no-repeat;
      width: 2.3rem;
      height: 1.2rem;
      content: " ";
      margin: auto;
      position: relative;
      top: 1.8rem; }
    .nav-user-toggle {
      height: 6rem;
      position: absolute;
      opacity: 0; }
    .nav-user-toggle:checked + .nav-user-label + .nav-user {
      display: flex; }
    .nav-user .item {
      background: rgba(255, 255, 255, 0.15);
      border-bottom: 0.1rem solid #09628e;
      flex: 1 1 100%; }
    .nav-user .m--active {
      background: rgba(255, 255, 255, 0.3);
      border-bottom: 0.2 solid #09628e; }
    .nav-user-label {
      box-shadow: 0 0.6rem 0.6rem 0.1rem rgba(9, 98, 142, 0.4);
      width: 100%; }
    .nav-user-label:before {
      background: url("./static/img/main/navbar-menu-user.png") center/contain no-repeat;
      width: 1.3rem;
      height: 1.4rem;
      content: " ";
      position: relative;
      margin: 0 0.6rem 0 0;
      display: inline-block; }
    .nav-user-toggle {
      width: 100%;
      bottom: 0;
      left: 0; }
    .nav-user-toggle:checked {
      height: 24rem; }
    .nav-user-toggle:checked + .nav-user-label {
      box-shadow: unset; }
    .nav-user .item.m--last {
      box-shadow: 0 0.6rem 0.6rem 0.1rem rgba(9, 98, 142, 0.4); } }

@media (min-width: 750px) {
  /* Menu link appearance */
  .navbar .item,
  .nav-about-label,
  .nav-user-label {
    font: 700 2.1rem/1 Nunito;
    color: #44a76b;
    text-decoration: none;
    cursor: pointer; }
    .navbar .item:hover,
    .nav-about-label:hover,
    .nav-user-label:hover {
      color: #13628e; } }

@media (min-width: 750px) {
  /* Center flex items */
  .navbar {
    display: flex;
    flex-wrap: wrap;
    align-content: center; }
  /* Float to the right */
  .navbar .link.m--logo {
    width: 9rem;
    padding: 0rem 3rem 0rem 0rem;
    margin-left: auto; }
  /* Float to the left */
  .nav-menu {
    width: 66rem;
    display: flex;
    margin: auto auto auto 0; }
  /* Hide unused menu toggles */
  .nav-menu-toggle,
  .nav-menu-label {
    display: none; }
  /* Menu links and about menu label */
  .navbar .item,
  .nav-about-label {
    padding: 0rem 3rem 0rem 0rem; }
  /* Sign in link and user menu label */
  .navbar .m--last,
  .nav-user-label {
    padding: 0rem 1.5rem 0rem 0rem; }
  /* Fill remaining space until the last item */
  .nav-about-label {
    flex: 1; }
  /* [FIXME] Temporarily hide elements pending confirmed design */
  .nav-about,
  .nav-about-toggle,
  .navbar .arrow,
  .nav-user,
  .nav-user-toggle {
    display: none; } }

.header.m--tilt {
  background: url("./static/img/main/header-bg-flbk.png") center bottom/cover no-repeat;
  font: 700 3.7rem/1 Nunito, sans-serif;
  color: #13628e;
  text-align: center;
  margin: 0 0 3rem 0; }

@media (max-width: 389px) {
  .header.m--tilt {
    padding: 10.5rem 0 6rem; } }

@media (min-width: 390px) and (max-width: 749px) {
  .header.m--tilt {
    padding: 10.5rem 0 6rem; } }

@media (min-width: 750px) {
  .header.m--tilt {
    padding: 15rem 0 9rem; } }

.footer {
  margin: 15rem 0rem 0rem 0rem; }

.footer .logo {
  background: url("./static/img/main/footer-logo.png") center/contain no-repeat;
  width: 100%;
  height: 4.4rem; }

.footer .link {
  font: 400 2.1rem/3rem Nunito, sans-serif;
  color: #44a76b;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.15s ease-in 0s; }
  .footer .link:hover, .footer .link:active, .footer .link:focus {
    color: #378756; }
  .footer .link:visited {
    color: #44a76b; }

/* Nav */
.footer .menu {
  list-style: none; }
  .footer .menu .link {
    font-weight: 600; }

.footer .licenses {
  font: 300 2.1rem/3rem Nunito, sans-serif;
  font-weight: 400;
  color: #47cfec; }

/* Partners */
.footer .partners {
  /* Fallback gradient bg image for older mobile browsers */
  background: url("./static/img/main/footer-bg-flbk.png") center/contain repeat-x;
  list-style: none; }

/* Partners heading */
.footer .partners-header {
  font: 300 2.1rem/3rem Nunito, sans-serif;
  font-weight: 400;
  color: #47cfec;
  text-align: center; }

/* Partner links: opacity change on hover */
.footer .link.m--osi, .footer .link.m--qco, .footer .link.m--oin, .footer .link.m--cfi {
  opacity: 0.7; }
  .footer .link.m--osi:hover, .footer .link.m--qco:hover, .footer .link.m--oin:hover, .footer .link.m--cfi:hover {
    opacity: 1.0; }

/* Partner logos */
.footer .osi {
  background: url("./static/img/main/partner-osi.png") center/contain no-repeat;
  width: 100%;
  height: 6rem; }

.footer .qco {
  background: url("./static/img/main/partner-qco.png") center/contain no-repeat;
  width: 100%;
  height: 6rem; }

.footer .oin {
  background: url("./static/img/main/partner-oin.png") center/contain no-repeat;
  width: 100%;
  height: 6rem; }

.footer .cfi {
  background: url("./static/img/main/partner-cfi.png") center/contain no-repeat;
  width: 100%;
  height: 6rem; }

@media (max-width: 389px) {
  .footer .link.m--logo {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0rem 3rem; }
  /* Nav */
  .footer .nav {
    margin: 3rem 3rem 6rem; }
  .footer .menu {
    max-width: 15rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem; }
  /* Partners */
  .footer .partners {
    padding: 3rem 3rem; }
  .footer .partners-header {
    margin: 3rem auto; }
  .footer .link.m--osi, .footer .link.m--qco, .footer .link.m--oin, .footer .link.m--cfi {
    max-width: 24rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem; } }

@media (min-width: 390px) and (max-width: 749px) {
  .footer .link.m--logo {
    width: 33rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem; }
  .footer .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 6rem; }
  .footer .menu.m--1-2 {
    width: 15rem;
    margin-left: 3rem;
    margin-right: 3rem; }
  .footer .menu.m--2-2 {
    width: 15rem;
    margin-right: 3rem; }
  .footer .licenses {
    width: 33rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 6rem;
    margin-bottom: 3rem; }
  .footer .partners {
    padding-top: 6rem;
    padding-bottom: 3rem; }
  .footer .partners-header {
    margin-top: 3rem;
    margin-bottom: 3rem; }
  .footer .partners .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 0rem; }
    .footer .partners .row.m--1-2 {
      margin: 0; }
  .footer .link.m--osi, .footer .link.m--oin {
    width: 15rem;
    margin-left: 3rem;
    margin-right: 3rem; }
  .footer .link.m--qco, .footer .link.m--cfi {
    width: 15rem;
    margin-right: 3rem; } }

@media (min-width: 750px) {
  .footer .logo {
    max-width: 33rem;
    margin: auto; }
  .footer .link.m--logo {
    margin-top: 3rem;
    margin-bottom: 3rem; }
  .footer .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    margin-bottom: 9rem; }
  .footer .menu.m--1-2 {
    width: 15rem;
    margin-left: 3rem;
    margin-right: 3rem; }
  .footer .menu.m--2-2 {
    width: 15rem;
    margin-right: 3rem; }
  .footer .licenses {
    flex: 33rem; }
  .footer .partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 6rem; }
  .footer .partners-header {
    margin-top: 9rem;
    margin-bottom: 3rem; }
  .footer .partners .row {
    display: flex; }
    .footer .partners .row.m--1-2 {
      width: 33rem;
      margin-left: 3rem;
      margin-right: 3rem; }
    .footer .partners .row.m--2-2 {
      width: 33rem;
      margin-right: 3rem; }
  .footer .link.m--osi, .footer .link.m--qco, .footer .link.m--oin, .footer .link.m--cfi {
    width: 15rem;
    flex: auto; }
  .footer .link.m--osi, .footer .link.m--oin {
    width: 15rem;
    margin-right: 3rem; } }

@media (min-width: 390px) and (max-width: 390px) {
  .mk__grid {
    opacity: 0.5;
    width: 39rem;
    height: 100vh;
    margin: 0;
    position: fixed;
    left: calc((100vw - 39rem)/ 2);
    z-index: 99;
    background-color: transparent;
    background-image: linear-gradient(90deg, rgba(197, 241, 253, 0.3) 3rem, transparent 3rem), linear-gradient(transparent 3rem, rgba(71, 207, 236, 0.05) 3rem);
    background-size: 9rem 6rem; } }

@media (min-width: 750px) and (max-width: 750px) {
  .mk__grid {
    opacity: 0.5;
    width: 75rem;
    height: 100vh;
    margin: 0;
    position: fixed;
    left: calc((100vw - 75rem)/ 2);
    z-index: 99;
    background-color: transparent;
    background-image: linear-gradient(90deg, rgba(197, 241, 253, 0.3) 3rem, transparent 3rem), linear-gradient(transparent 3rem, rgba(71, 207, 236, 0.05) 3rem);
    background-size: 9rem 6rem; } }

/* Intro text */
.intro {
  font: 300 2.1rem/3rem Nunito, sans-serif;
  color: #13628e; }

/* List of projects */
.projects-list {
  list-style: outside decimal; }
  .projects-list .item {
    font: 300 2.1rem/3rem Nunito, sans-serif;
    color: #47cfec; }

/* Project info: div wrap for a box with padding and background color */
.project .link {
  text-decoration: none; }

.project.m--live, .project.m--coming {
  background: rgba(197, 241, 253, 0.23); }

.project.m--live .title {
  font: 700 2.9rem/3rem Nunito, sans-serif;
  font-weight: 800;
  color: #13628e; }

.project.m--live .desc {
  color: #13628e; }

.project.m--coming .desc {
  color: #47cfec;
  font-style: italic; }

/* Signup links */
.signup .me {
  background: url("./static/img/projects/me-signup.png") center/contain no-repeat;
  width: 100%;
  height: 17.4rem; }

.signup .button {
  font-weight: 800;
  line-height: 1;
  font-family: Nunito, sans-serif;
  text-align: center;
  text-decoration: none;
  text-shadow: 0.2rem 0.2rem 0 #3d955f;
  color: #ffffff;
  background-color: #44a76b;
  background-image: linear-gradient(#4ebf7a, #44a76b);
  cursor: pointer;
  display: table;
  position: relative;
  width: auto;
  border: 0;
  border-radius: 0.6rem/3rem;
  box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(19, 98, 142, 0.1);
  transition: all 0.12s ease-out;
  font-size: 2.1rem;
  padding: 0.9rem 12rem 1.2rem; }
  .signup .button:hover {
    color: #ffffff;
    text-shadow: 0.1rem 0.1rem 0 rgba(19, 98, 142, 0.4), 0rem 0rem 1rem rgba(255, 255, 255, 0.5); }
  .signup .button:hover {
    padding: 0.9rem 6rem 1.2rem; }

.signup .more-info {
  font: 400 2.1rem/3rem Nunito, sans-serif;
  color: #44a76b;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.15s ease-in 0s; }
  .signup .more-info:hover, .signup .more-info:active, .signup .more-info:focus {
    color: #378756; }
  .signup .more-info:visited {
    color: #44a76b; }

/* Projects list */
.projects-list {
  margin-top: 6rem;
  margin-bottom: 0rem; }
  .projects-list .item {
    /* Add space between numbering and project.projects-list item,
            and vertically between items */
    padding: 0rem 0rem 0.3rem 1.5rem; }

/* Project info: div wrap for a box with padding and background color */
.project .link {
  /* Shift the project list item contents up 1.5rem to center align
            vertically with the item number */
  position: relative;
  top: -1.5rem; }

.project .logo {
  width: 3rem;
  height: 3rem;
  display: inline;
  vertical-align: text-bottom; }

.project.m--live {
  /* Offset the list item background to center align
            the list item contents vertically with the projects list
            number */
  height: 9rem;
  padding: 3rem 0rem 0rem 1.8rem; }

.project.m--live .title {
  display: inline;
  vertical-align: middle; }

.project.m--live .desc {
  margin: 0rem 0rem 0rem 0.9rem; }

.project.m--coming {
  padding: 3rem 0rem 3rem 1.5rem; }

/* Signup links */
.signup {
  margin: 6rem auto 15rem;
  text-align: center; }
  .signup .me {
    margin: 0rem auto 3rem; }
  .signup .button {
    margin: 0rem auto 1.5rem; }

@media (max-width: 389px) {
  .section {
    max-width: 84.61538%;
    margin-left: 3rem;
    margin-right: 3rem; }
  .projects-list {
    padding: 0rem 0rem 0rem 3rem;
    /* Hide text that extend beyond the projects list */
    overflow: hidden; }
  .list-gradient {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), #ffffff 70%);
    width: 22%;
    height: 30rem;
    margin: 6rem 0rem;
    position: absolute;
    right: 0;
    z-index: 5; }
  .project.m--live .title {
    /* Further scale down project title */
    font-size: 2.1rem; }
  .project .desc {
    /* Display description on one line for fade-out */
    white-space: nowrap; }
  /* Scale down signup button */
  .signup .button {
    font-weight: 800;
    line-height: 1;
    font-family: Nunito, sans-serif;
    text-align: center;
    text-decoration: none;
    text-shadow: 0.2rem 0.2rem 0 #3d955f;
    color: #ffffff;
    background-color: #44a76b;
    background-image: linear-gradient(#4ebf7a, #44a76b);
    cursor: pointer;
    display: table;
    position: relative;
    width: auto;
    border: 0;
    border-radius: 0.6rem/3rem;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(19, 98, 142, 0.1);
    transition: all 0.12s ease-out;
    font-size: 2.1rem;
    padding: 0.9rem 6rem 1.2rem; }
    .signup .button:hover {
      color: #ffffff;
      text-shadow: 0.1rem 0.1rem 0 rgba(19, 98, 142, 0.4), 0rem 0rem 1rem rgba(255, 255, 255, 0.5); }
    .signup .button:hover {
      padding: 0.9rem 3rem 1.2rem; } }

@media (min-width: 390px) and (max-width: 749px) {
  .section {
    max-width: 84.61538%;
    margin-left: auto;
    margin-right: auto; }
  .intro {
    max-width: 84.61538%;
    margin-left: auto;
    margin-right: auto; }
  .list-gradient {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), #ffffff 70%);
    width: 22%;
    height: 30rem;
    margin: 6rem 0rem;
    position: absolute;
    right: 0;
    z-index: 5; }
  .projects-list {
    max-width: 84.61538%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
    padding: 0rem 0rem 0rem 2.7rem;
    overflow: hidden; }
  .project .desc {
    /* Display description on one line for fade-out */
    white-space: nowrap; } }

@media (min-width: 750px) {
  .section {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto; }
  .intro {
    max-width: 51rem;
    margin-left: auto;
    margin-right: auto; }
  .projects-list {
    max-width: 60rem;
    margin: 6rem 0rem 6rem 6rem; }
    .projects-list .item {
      margin: 0rem 0rem 0rem 1.5rem; }
  .signup {
    max-width: 33rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9rem;
    margin-bottom: 15rem; } }
